<ul class="themes-container">
    {{#each themeFilters}}
    <li class="theme">
        <label for="{{id}}">{{label}}</label>
        <input type="checkbox" name="theme" id="{{id}}" value="{{value}}">
    </li>
    {{/each}}
</ul>

{{!-- Onderstaande code gebruiken als de thema's uit de database gehaald worden

{{#each thema}}
<li>
    <label for="{{this}}">{{this}}</label>
    <input type="checkbox" name="theme" id="{{this}}" value="">
</li>
{{/each}} --}}