<li class="wishcard">
    <a href="/wens/{{this.id}}/{{this.title}}">
        <section>
            <img src="{{this.image}}" alt="Dit is de afbeelding die hoort bij wens {{this.title}}">
            <ul class="themesContainer">
                {{#each themes}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </section>
        <section class="wishcardInfo">
            <div>
                <h3>{{this.title}}</h3>
                <p>{{this.description}}</p>
            </div>
            <ul class="statistics">
                <li>
                    <img src="../public/images/icon_steuner.svg">
                    <p>153</p>
                </li>
                <li>
                    <img src="../public/images/icon_helper.svg">
                    <p>14</p>
                </li>
                <li>
                    <img src="../public/images/icon_ambassadeur.svg">
                    <p>2</p>
                </li>
                <li>
                    <img src="../public/images/icon_reactions.svg">
                    <p>1</p>
                </li>
            </ul>
        </section>
    </a>
</li>