<li class="wishcard">
    <a href="/wens/{{this.id}}/{{this.title}}">
        <section>
            <img src="{{this.image}}" alt="">
            <ul class="themesContainer">
                {{#each themes}}
                    <li data-theme="{{this}}">{{this}}</li>
                {{/each}}
            </ul>
        </section>
        <section class="wishcardInfo">
            <div>
                <h2>{{this.title}}</h2>
                <p>{{this.description}}</p>
            </div>
            <ul class="statistics">
                <li>
                    <img src="../public/images/icon_steuner.svg" alt="Aantal steuners">
                    <p>153</p>
                </li>
                <li>
                    <img src="../public/images/icon_helper.svg" alt="Aantal helpers">
                    <p>14</p>
                </li>
                <li>
                    <img src="../public/images/icon_ambassadeur.svg" alt="Aantal ambassadeurs">
                    <p>2</p>
                </li>
                <li>
                    <img src="../public/images/icon_reactions.svg" alt="Aantal reacties">
                    <p>1</p>
                </li>
            </ul>
        </section>
    </a>
</li>