<main class="wish-form">
    <section>
        <h1>Maak hier je wens aan</h1>
        <article>
            <h2>Check of je wens al bestaat</h2>
            <p>Om te voorkomen dat er geen dubbele wensen ontstaan kun je checken of er al een soort gelijke wens bestaat, door in het overzicht te zoeken.</p>
            <a href="#">Overzicht wensen</a>
        </article>
        <form id="wish-form" action="/wens" method="post">
            <label for="title">
                <span>Titel van je wens</span>
                <input type="text" name="title" id="title" {{#if errors.title}}class="has-error"{{/if}} value="{{formData.title}}">
                {{#if errors.title}}
                    <span class="error">{{errors.title.msg}}</span>
                {{/if}}
            </label>
            <label for="description">
                <span>Informatie over je wens</span>
                <textarea name="description" id="description" cols="30" rows="10" {{#if errors.description}}class="has-error"{{/if}}></textarea>
                {{#if errors.description}}
                <span class="error">{{errors.description.msg}}</span>
                {{/if}}
            </label>
            <label for="image">
                <span>Upload een afbeelding voor je wens</span>
                <input type="file" name="image" id="image" accept="image/png, image/jpeg"> 
                {{!-- Data die binnen komt hoe verwerken aan formaten voldoen via server.js laten checken --}}
            </label>
            <label>
                <span>Of voer hier de link van de afbeelding in</span>
                <input type="text" name="imageLink" id="image-link" placeholder="Voer hier de link van de afbeelding in">
            </label>
            <div id="image-preview"></div>
            <p>Kies een of meer thema's die passen bij jouw wens:</p>
            <ul>
                {{#each thema}}
                    <li>
                        <label>
                            <input type="checkbox" name="theme" id="{{this}}" value="">
                            {{this}}
                        </label>
                    </li>
                {{/each}}
            </ul>
            <button type="submit">Deel een wens</button>
        </form>
        <p>{{message}}</p>
    </section>
</main>