<ul class="grid">
    {{#each wensen}}
    <li>
        <a href="#">
            <div class="grid-item"><img src="https://picsum.photos/200/300?random=1" alt=""></div>
            <p>{{this.id}}</p>
            {{#each this.thema}}
                <p>{{this}}</p>
            {{/each}}
            <h3>{{this.titel}}</h3>
            <p>{{this.omschrijving}}</p>
            <p>Ambassadeurs: {{this.ambassadeurs}}</p>
            <p>Helpers: {{this.helpers}}</p>
            <p>Delers: {{this.delers}}</p>
        </a>
    </li>
    {{/each}}
</ul>