<main class="wish">
    {{!-- Message shows when a wish is successfully added from the form --}}
    {{#if message}}
        <p class="message">{{message}}</p>
    {{/if}}
    <a href="javascript: history.go(-1)" class="button-back">Terug</a>
    <section>
        <div>
            <a href="/">Wensen</a>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
            <ul class="themesContainer">
                {{!-- This is where all the themes of the wish are displayed --}}
                {{#each themes}}
                    <li data-theme="{{this}}">{{this}}</li>
                {{/each}}
            </ul>
        </div>
        <article>
            <h1>{{wish.title}}</h1>
            <p>{{wish.description}}</p>
            <div>
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="15" viewBox="0 0 28 15" fill="none">
                    <path d="M14.0604 7.19743C15.9411 7.19743 17.4667 5.6719 17.4667 3.7911C17.4667 1.9103 15.9411 0.384766 14.0604 0.384766C12.1796 0.384766 10.654 1.9103 10.654 3.7911C10.654 5.6719 12.1796 7.19743 14.0604 7.19743ZM12.8483 8.4722C10.2256 8.4722 8.10449 10.5933 8.10449 13.216C8.10449 13.6548 8.45975 14.0101 8.89861 14.0101H19.243C19.6818 14.0101 20.0371 13.6548 20.0371 13.216C20.0371 10.5933 17.916 8.4722 15.2933 8.4722H12.8587H12.8483Z" fill="white"/>
                    <path d="M8.45409 4.81331C8.45409 6.00177 7.49063 6.96686 6.28538 6.96686C5.08013 6.96686 4.11667 6.00177 4.11667 4.81331C4.11667 3.62486 5.08013 2.65977 6.28538 2.65977C7.49063 2.65977 8.45409 3.62486 8.45409 4.81331ZM10.7656 13.086H1.81731C1.91528 11.3207 3.38512 9.91345 5.19374 9.91345H7.38914C9.19777 9.91345 10.6676 11.3207 10.7656 13.086Z" stroke="white" stroke-width="1.8"/>
                    <path d="M23.8372 4.81863C23.8372 6.01423 22.8739 6.97749 21.6783 6.97749C20.4827 6.97749 19.5194 6.01423 19.5194 4.81863C19.5194 3.62303 20.4827 2.65977 21.6783 2.65977C22.8739 2.65977 23.8372 3.62303 23.8372 4.81863ZM26.1413 13.1073H17.2273C17.3242 11.3336 18.7922 9.92608 20.5902 9.92608H22.7785C24.5765 9.92608 26.0445 11.3336 26.1413 13.1073Z" stroke="white" stroke-width="1.8"/>
                    </svg>
                    Ambassadeur worden
                </button>
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" fill="white"><path d="M272.2 64.6l-51.1 51.1c-15.3 4.2-29.5 11.9-41.5 22.5L153 161.9C142.8 171 129.5 176 115.8 176H96V304c20.4 .6 39.8 8.9 54.3 23.4l35.6 35.6 7 7 0 0L219.9 397c6.2 6.2 16.4 6.2 22.6 0c1.7-1.7 3-3.7 3.7-5.8c2.8-7.7 9.3-13.5 17.3-15.3s16.4 .6 22.2 6.5L296.5 393c11.6 11.6 30.4 11.6 41.9 0c5.4-5.4 8.3-12.3 8.6-19.4c.4-8.8 5.6-16.6 13.6-20.4s17.3-3 24.4 2.1c9.4 6.7 22.5 5.8 30.9-2.6c9.4-9.4 9.4-24.6 0-33.9L340.1 243l-35.8 33c-27.3 25.2-69.2 25.6-97 .9c-31.7-28.2-32.4-77.4-1.6-106.5l70.1-66.2C303.2 78.4 339.4 64 377.1 64c36.1 0 71 13.3 97.9 37.2L505.1 128H544h40 40c8.8 0 16 7.2 16 16V352c0 17.7-14.3 32-32 32H576c-11.8 0-22.2-6.4-27.7-16H463.4c-3.4 6.7-7.9 13.1-13.5 18.7c-17.1 17.1-40.8 23.8-63 20.1c-3.6 7.3-8.5 14.1-14.6 20.2c-27.3 27.3-70 30-100.4 8.1c-25.1 20.8-62.5 19.5-86-4.1L159 404l-7-7-35.6-35.6c-5.5-5.5-12.7-8.7-20.4-9.3C96 369.7 81.6 384 64 384H32c-17.7 0-32-14.3-32-32V144c0-8.8 7.2-16 16-16H56 96h19.8c2 0 3.9-.7 5.3-2l26.5-23.6C175.5 77.7 211.4 64 248.7 64H259c4.4 0 8.9 .2 13.2 .6zM544 320V176H496c-5.9 0-11.6-2.2-15.9-6.1l-36.9-32.8c-18.2-16.2-41.7-25.1-66.1-25.1c-25.4 0-49.8 9.7-68.3 27.1l-70.1 66.2c-10.3 9.8-10.1 26.3 .5 35.7c9.3 8.3 23.4 8.1 32.5-.3l71.9-66.4c9.7-9 24.9-8.4 33.9 1.4s8.4 24.9-1.4 33.9l-.8 .8 74.4 74.4c10 10 16.5 22.3 19.4 35.1H544zM64 336a16 16 0 1 0 -32 0 16 16 0 1 0 32 0zm528 16a16 16 0 1 0 0-32 16 16 0 1 0 0 32z"/></svg>
                    Helper worden
                </button>
                <button>
                    <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.09593 0.562437C8.93126 0.218726 8.58328 0 8.20112 0C7.81896 0 7.47408 0.218726 7.3063 0.562437L5.3085 4.69635L0.846857 5.35878C0.474017 5.41502 0.163318 5.67749 0.0483587 6.03682C-0.0666002 6.39616 0.0266097 6.79299 0.293811 7.05859L3.5313 10.2801L2.76698 14.8327C2.70484 15.2077 2.86019 15.5889 3.16778 15.8107C3.47538 16.0326 3.88239 16.0607 4.21795 15.8826L8.20423 13.7422L12.1905 15.8826C12.5261 16.0607 12.9331 16.0357 13.2407 15.8107C13.5483 15.5858 13.7036 15.2077 13.6415 14.8327L12.874 10.2801L16.1115 7.05859C16.3787 6.79299 16.4751 6.39616 16.357 6.03682C16.2389 5.67749 15.9313 5.41502 15.5585 5.35878L11.0937 4.69635L9.09593 0.562437Z" fill="#ffffff"/>
                    </svg>
                    Steun wens
                </button>
            </div>
            <img src="{{wish.image}}" alt="De afbeelding die hoort bij de wens: {{wish.title}}">
        </article>
    </section>
    <section>
        <h2>Reacties</h2>
        <ul>
            <li class="hidden">
                <time datetime="2023-06-29">Donderdag 29 juni 2023</time>
                <h3>Sanne van de Graaf</h3>
                <p>Goed idee ik meld me aan!</p>
                <img src="https://hallostrandeiland.nl/blobs/gebiedsplatform/w272h272-cropped/72130/2020/4/WhatsApp_Image_2019-06-02_at_11_46_16_AM.jpeg" alt="Profielfoto van: Sanne van de Graaf">
            </li>
            <li>
                <time datetime="2023-">Woensdag 31 mei 2023</time>
                <h3>Esther Grandiek</h3>
                <p>Ik ben het hier helemaal mee eens! Dit gaat Strandeiland een leukere wijk maken.</p>
                <img src="https://hallostrandeiland.nl/blobs/gebiedsplatform/w272h272-cropped/72130/2021/28/Esther_Grandiek.png" alt="Profielfoto van: Esther Grandiek">
            </li>
        </ul>
        <form>
            <label for="message">
                Reageer op deze wens
                <textarea id="message" name="message" placeholder="Schrijf hier je reactie"></textarea>
            </label>
        </form>
        <button>Verstuur</button>
    </section>
    <aside>
        <section>
            <h3>De ambassadeurs:</h3>
            <ul>
                <li class="hidden">
                    <div>
                        <h4>Sanne van de Graaf</h4>
                    </div>
                    <img src="https://hallostrandeiland.nl/blobs/gebiedsplatform/w272h272-cropped/72130/2020/4/WhatsApp_Image_2019-06-02_at_11_46_16_AM.jpeg" alt="Profielfoto van: Sanne van de Graaf">
                </li>
                <li>
                    <a href="/persoon">
                        <div>
                            <h4>Esther Grandiek</h4>
                            <p>Gemeente Amsterdam</p>
                        </div>
                        <img src="https://hallostrandeiland.nl/blobs/gebiedsplatform/w272h272-cropped/72130/2021/28/Esther_Grandiek.png" alt="Profielfoto van: Esther Grandiek">
                    </a>
                </li>
            </ul>
        </section>
        <section>
            <h3>De helpers:</h3>
            <ul>
                <li class="hidden">
                    <div>
                        <h4>Sanne van de Graaf</h4>
                    </div>
                    <img src="https://hallostrandeiland.nl/blobs/gebiedsplatform/w272h272-cropped/72130/2020/4/WhatsApp_Image_2019-06-02_at_11_46_16_AM.jpeg" alt="Profielfoto van: Sanne van de Graaf">
                </li>
                <li>
                    <div>
                        <h4>Rachid El Morabiti</h4>
                    </div>
                    <img src="https://hallostrandeiland.nl/blobs/gebiedsplatform/w272h272-cropped/72130/2019/45/D629BC0F-8405-49C2-8526-B9E8AEED21EF.jpeg" alt="Profielfoto van: Rachid El Morabiti">
                </li>
            </ul>
        </section>
        <section>
            <h3>Mensen die de wens steunen:</h3>
            <ul>
                <li class="hidden">
                    <div>
                        <h4>Sanne van de Graaf</h4>
                    </div>
                    <img src="https://hallostrandeiland.nl/blobs/gebiedsplatform/w272h272-cropped/72130/2020/4/WhatsApp_Image_2019-06-02_at_11_46_16_AM.jpeg" alt="Profielfoto van: Sanne van de Graaf">
                </li>
                <li>
                    <div>
                        <h4>Kim de Crom</h4>
                    </div>
                    <img src="https://hallostrandeiland.nl/blobs/gebiedsplatform/w272h272-cropped/72130/2022/25/481x481IMG_1713_1.jpg" alt="Profielfoto van: Kim de Crom">
                </li>
                <li>
                    <div>
                        <h4>Sonya Wilson</h4>
                        <p>Ondernemer</p>
                    </div>
                    <img src="https://hallostrandeiland.nl/blobs/gebiedsplatform/w272h272-cropped/72130/2022/24/42CC991B-503F-4CF4-8578-9F5E58D184CF.jpeg" alt="Profielfoto van: Sonya Wilson">
                </li>
                <li>
                    <div>
                        <h4>Vidal Melgar Herrera</h4>
                    </div>
                    <img src="https://hallostrandeiland.nl/blobs/gebiedsplatform/w272h272-cropped/72130/2020/22/FB_IMG_1578750381187.jpg" alt="Profielfoto van: Vidal Melgar Herrera">
                </li>
                <li>
                    <div>
                        <h4>Ruud Klerks</h4>
                    </div>
                    <img src="https://hallostrandeiland.nl/blobs/gebiedsplatform/w272h272-cropped/72130/2021/52/472x472IMG_2715_1_1.JPG" alt="Profielfoto van: Ruud Klerks">
                </li>
                <li>
                    <div>
                        <h4>Marcia van der Hart - Simon</h4>
                        <p>Gebiedsmakelaar HE Oost</p>
                    </div>
                    <img src="https://hallostrandeiland.nl/blobs/gebiedsplatform/w272h272-cropped/72130/2022/6/747x747D4C41BDE-5D70-4C3B-874B-A1E3D08BE406_1.jpeg" alt="Profielfoto van: Marcia van der Hart - Simon">
                </li>
            </ul>
            <button>
                Er zijn nog 145 anderen die de wens steunen
            </button>
        </section>
    </aside>
</main>